Node-Red/WeatherRulesNotificationFlow.txt
[{"id":"2db87dab.9f051a","type":"tab","label":"Flow 1"},{"id":"a4e3627f.03e14","type":"business-rules","z":"2db87dab.9f051a","service":"Business Rules-7a","rulesets":"/WeatherDataRulesDeploymentConfig/WeatherDataRuleApp","ruleset":"/WeatherDataRulesDeploymentConfig/WeatherDataRuleApp","x":668,"y":271,"wires":[["d722ba28.bef118","7598f96d.c718"]]},{"id":"6044b9b3.d86a68","type":"weather_insights","z":"2db87dab.9f051a","name":"","host":"twcservice.mybluemix.net","service":"/forecast/hourly/48hour.json","geocode":"","units":"h","language":"en","x":669,"y":163,"wires":[["81d1baae.4d8ff8","e9101d22.0e96"]]},{"id":"71950c5d.4399e4","type":"http in","z":"2db87dab.9f051a","name":"Get decision based on 48 hour weather forecast","url":"/decisions/48hr","method":"get","swaggerDoc":"","x":185,"y":163,"wires":[["be5e2251.421c2"]]},{"id":"be5e2251.421c2","type":"function","z":"2db87dab.9f051a","name":"Set Location","func":"node.log(msg.req.query.lat);\nnode.log(msg.req.query.long);\nvar lat = (msg.req.query.lat === undefined ? 0 : msg.req.query.lat);\nvar long = (msg.req.query.long === undefined ? 0 : msg.req.query.long);\nmsg.payload = lat + \",\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":477,"y":163,"wires":[["6044b9b3.d86a68"]]},{"id":"fbfdf891.9e7f18","type":"debug","z":"2db87dab.9f051a","name":"Weather Input to Business Rules","active":true,"console":"false","complete":"payload","x":557,"y":342,"wires":[]},{"id":"842f86c7.40cfe","type":"http response","z":"2db87dab.9f051a","name":"Decision Response","x":987,"y":459,"wires":[]},{"id":"81d1baae.4d8ff8","type":"function","z":"2db87dab.9f051a","name":"Transform Weather Data","func":"msg.payload = '{\"HourlyForecast\": { \"forecasts\"' + ':' +  JSON.stringify(msg.forecasts) + '}}';\nmsg.payload = msg.payload.replace(/class/g, \"class_\");\nreturn msg;","outputs":1,"noerr":0,"x":259,"y":272,"wires":[["a4e3627f.03e14","fbfdf891.9e7f18"]]},{"id":"e9101d22.0e96","type":"debug","z":"2db87dab.9f051a","name":"Weather Data Response","active":true,"console":"false","complete":"true","x":904,"y":163,"wires":[]},{"id":"d722ba28.bef118","type":"debug","z":"2db87dab.9f051a","name":"Result of Rule Execution","active":true,"console":"false","complete":"payload","x":902,"y":271,"wires":[]},{"id":"7598f96d.c718","type":"function","z":"2db87dab.9f051a","name":"Get Notification Message","func":"var obj = JSON.parse(msg.payload);\nmsg.payload = obj.NotificationMsg;\nreturn msg;","outputs":1,"noerr":0,"x":733,"y":460,"wires":[["842f86c7.40cfe","d579770d.5484b8"]]},{"id":"d579770d.5484b8","type":"twitter out","z":"2db87dab.9f051a","twitter":"","name":"Tweet","x":943.5,"y":392,"wires":[]}]