Node-Red/WeatherRulesNotificationFlow.txt
[{"id":"959e7d9f.ca5368","type":"business-rules","z":"c0262b5.cdedfd8","service":"Business Rules-7a","rulesets":"/WeatherDataRulesDeploymentConfig/WeatherDataRuleApp","ruleset":"/WeatherDataRulesDeploymentConfig/WeatherDataRuleApp","x":668,"y":332,"wires":[["4fba9049.21dda8"]]},{"id":"1b2772b.cf6658d","type":"weather_insights","z":"c0262b5.cdedfd8","name":"","host":"twcservice.mybluemix.net","service":"/forecast/hourly/48hour.json","geocode":"","units":"h","language":"en","x":669,"y":224,"wires":[["1f6caf3a.a23c49"]]},{"id":"baf420eb.9b4a4","type":"http in","z":"c0262b5.cdedfd8","name":"Get decision based on 48 hour weather forecast","url":"/abc/48hr","method":"get","swaggerDoc":"","x":185,"y":224,"wires":[["1c690ac6.340cf5"]]},{"id":"1c690ac6.340cf5","type":"function","z":"c0262b5.cdedfd8","name":"Set Location","func":"node.log(msg.req.query.lat);\nnode.log(msg.req.query.long);\nvar lat = (msg.req.query.lat === undefined ? 0 : msg.req.query.lat);\nvar long = (msg.req.query.long === undefined ? 0 : msg.req.query.long);\nmsg.payload = lat + \",\" + long;\nreturn msg;","outputs":1,"noerr":0,"x":477,"y":224,"wires":[["1b2772b.cf6658d"]]},{"id":"a5b4ebe6.1bca68","type":"http response","z":"c0262b5.cdedfd8","name":"Decision Response","x":959,"y":444,"wires":[]},{"id":"1f6caf3a.a23c49","type":"function","z":"c0262b5.cdedfd8","name":"Transform Weather Data","func":"msg.payload = '{\"HourlyForecast\": { \"forecasts\"' + ':' +  JSON.stringify(msg.forecasts) + '}}';\nmsg.payload = msg.payload.replace(/class/g, \"class_\");\nreturn msg;","outputs":1,"noerr":0,"x":259,"y":333,"wires":[["959e7d9f.ca5368"]]},{"id":"4fba9049.21dda8","type":"function","z":"c0262b5.cdedfd8","name":"Get Notification Message","func":"var obj = JSON.parse(msg.payload);\nmsg.payload = obj.NotificationMsg;\nreturn msg;","outputs":1,"noerr":0,"x":709,"y":444,"wires":[["a5b4ebe6.1bca68"]]}]